<div class="wrap">

  <h1>{% t recruitment_form.title %}</h1>
  <p>{% t recruitment_form.desc %}</p>

</div>

<div class="contact-form">

	<form method="POST" action="/{{ site.lang }}/success" id="umbraco-contact-form" data-netlify="true">

		<div class="contact-form__item">
			<label class="contact-form__label">{% t recruitment_form.email %} *</label>
			<input type="text" name="email" placeholder="{% t recruitment_form.email_placeholder %}" class="contact-form__input">
		</div>

		<div class="contact-form__item">
			<label class="contact-form__label">{% t recruitment_form.name %} *</label>
			<input type="text" name="name" placeholder="{% t recruitment_form.name_placeholder %}" class="contact-form__input">
		</div>

		<div class="contact-form__item">
			<label class="contact-form__label">{% t recruitment_form.message %} *</label>
			<textarea name="message" placeholder="{% t recruitment_form.message_placeholder %}" class="contact-form__textarea"></textarea>
		</div>

		<div class="contact-form__item">
			<label class="contact-form__label">{% t recruitment_form.cv %}</label>
			<input type="file" name="file" id="file" class="contact-form__file" accept="application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/pdf">
		</div>


		<!-- <input type="hidden" name="_subject" value="{{ site.data.settings.contact_settings.email_subject }}" /> -->

		<div class="contact-form__item">
			<input type="submit" value="{% t recruitment_form.send %}" class="button button--large">
		</div>

	</form>

</div>